body {
    color: white;
    background-image: url("./img.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    font-family:'Courier Prime', monospace;
    font-weight: bolder;
    
   
}
form {
     background-color: #fa5959;
     padding: 30px;
     margin: 10px;
     font-size: 16px;
     width: 50%;
     height: 50%;
     border-radius: 30px;
     
}
#container {
    display: flex;
    justify-content: center;
    align-content: space-between;
    width: 100%;
    height: 100%;
}
#beauty{
    align-content: center;
    justify-content: center;
    margin-left: 150px;

    
}
.asteric{
    color: red;
}
#privacy{
    color: blue;
}
#email {
    border: 5px solid red;
}
.placeholder {
align-content: center;
justify-content: center;
}

#faith { 
    justify-content: center;
    align-content: center;
    display: flex;
    

}
button {
    color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    background: #fa5959;
    margin:0%;
    height: 35px;
    width: 100px;
}
.foregroup{
    width: 350px;
    height: 30px;
    align-content: center;
    justify-content: center;
    margin-left: 300px;
}
#love {
    align-content: center;
    justify-content: center;
    display: flex;
}

.error {
    width: 350px;
    height: 30px;
    background: white;
    color: red;
}